# =============================================================================
# OPERATIONAL SYSTEM CONFIGURATION
# =============================================================================

mainmenu "Kernel From Scratch Configuration"

source "src/drivers/disk/Kconfig"

source "src/boot/Kconfig"

